.product{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product_out{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.button-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.product img{
    float: left;
    width: 270px;
    border-radius: 5%;
}

.detail{
    position: relative;
    height: 200px;
    margin-left: 300px;
}

.title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
}

.type, .size, .level{
    display: inline-block;
    font-size: 20px;
}

.room, .bath, .living{
    display: inline-block;
    font-size: 15px;
}

.situation, .layout{
    padding: 0px;
}

.type, .size, .room, .bath{
    padding-right: 10px;
    border-right: 2px solid rgb(148, 148, 148);
}

.size, .level, .bath, .living{
    padding-left: 10px;
}

.address{
    font-size: 20px;
}

.favorite{
    position: absolute;
    top: 10px;
    right: 50px;
    margin: 0px;
    font-size: 16px;
}

.price{
    position: absolute;
    right: 50px;
    bottom: 10px;
    font-size: 20px;
    color: red;
    margin: 0px;
}

.price span{
    font-size: 35px;
}

#thing>#template:hover{
    text-decoration: none;
    color: black;
}

.template, #favor{
    text-decoration: none;
}

.template:hover{
    color: black;
    text-decoration: none;
}

/*.default-style {*/
/*            background-color: blue;*/
/*            color: white;*/
/*        }*/
/*.clicked-style {*/
/*    background-color: red;*/
/*    color: yellow;*/
/*}*/