{% load static %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark ">
      <a class="navbar-brand" href="{% url 'homepage' %}">補習中心</a>
{#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'class_list' available=1 %}">課程列表</a>
          <a class="nav-item nav-link" href="{% url 'student_list' %}">學生列表</a>
          <a class="nav-item nav-link" href="{% url 'add_class' %}">添加課程</a>
          <a class="nav-item nav-link" href="{% url 'add_teacher' %}">添加教師</a>
          <a class="nav-item nav-link" href="{% url 'add_category' %}">添加課程類別</a>
          <a class="nav-item nav-link" href="{% url 'add_student' %}">新增學生</a>


        </div>
{#      </div>#}
</nav>