{% load static %}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新增教師</title>
  <!-- 引入 Bootstrap CSS -->
    <link href= "{%static '/plugins/bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/plugins/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/css/bootstrap_css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>

  <!-- 自定义样式 -->
  <style>
    body {
        background-color: #f8f8f8;
    }

    #title{
    margin-top:100px;
    }
  </style>
</head>

<body>
    {% include 'elements/navbar.html' %}

<div class="container">
  <!-- 本頁面標題 -->
  <h1 id="title">新增教師</h1>

  <form id="add_teacher" method="POST" action="{% url 'add_teacher_action' %}">
      {% csrf_token %}

    <div class="accordion" id="accordion">
      <div class="accordion-item">

        <!-- 簡介(下拉式列表) -->
        <h2 class="accordion-header" id="introduction-heading">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#introduction" aria-expanded="true" aria-controls="introduction">
            教師資訊
          </button>
        </h2>
        <div id="introduction" class="accordion-collapse collapse show" aria-labelledby="introduction-heading" data-bs-parent="#accordion">
          <div class="accordion-body">

            <div class="mb-3 row">
              <div class="col-4">
                <label for="name" class="form-label">老師名字：</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
            </div>

            <!-- 类别、科目、年級 -->
            <div class="mb-3 row">

              <div class="col-4">
                <label for="phone" class="form-label">電話號碼：</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
              </div>

              <div class="col-4">
                <label for="line" class="form-label">Line：</label>
                <input type="text" class="form-control" id="line" name="line" required>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

        <!-- 上傳表單按鈕 -->
    <div class="d-flex justify-content-center mt-3">
      <input type="submit" class="btn btn-primary" value="新增">
    </div>
  </form>
</div>

<!-- 引入 Bootstrap JS -->
<script src="../static/js/bootstrap_js/bootstrap.min.js"></script>
<!-- 自定义表单验证 -->
<script>
  function validateForm() {
    var form = document.getElementById("add_class");
    var inputs = form.querySelectorAll("input, select");
    var isValid = true;
    var isAlerted = false; // 變數來追蹤是否已經顯示了提示訊息
    var unfilledFields = ""; // 變數來儲存未填寫欄位

    inputs.forEach(function(input) {
      var message = input.previousElementSibling.dataset.message;

      if (input.required && !input.value.trim()) {
        isValid = false;
        input.classList.add("required-field");
        if (!isAlerted) {
          isAlerted = true;
          unfilledFields += `${message}, `;
        }
      }
    });

    if (isValid) {
      alert("表單已成功提交！");
    } else {
      alert("請填寫所有欄位，未填欄位為: " + unfilledFields.slice(0, -2));
    }
  }
</script>
</body>
</html>
