{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加時間</title>
    <link href= "{%static '/css/bootstrap_css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/plugins/bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/bootstrap_css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="margin:2%;">
    {% include 'elements/navbar.html' %}

    <h1 style="margin-top:100px;">目前學期：{{ years.semText }}</h1>

    <br>


    <div>
        <p class="fw-bold h2">目前有的時段:</p>

        <div class="d-flex flex-wrap">
            {% for i in time %}
                <div class=" m-3">
                    <span class="bg-success text-white p-2 border border-success rounded fw-bold">{{ i.start |date:"H:i" }} - {{ i.end |date:"H:i" }}</span>
                    <a class="fw-bold p-t-2" href="{% url 'delete_time_action' i.tId %}" style="text-decoration: none; color:red; font-size:1em">X</a>
                </div>

            {% endfor %}
        </div>

    </div>

    <br>

    <span class="fw-bold h2">添加時段:</span>
    <br><br>
    <form id="add_time" method="POST" action="{% url 'add_time_action' years=years.semId %}">
      {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-2">
                <label for="start" class="form-label">開始時間：</label>
                <input type="time" name="start" id="start" class="form-control" required>
            </div>

            {#時長#}
            <div class="col-2">
                <label for="duration" class="form-label">時段長度：</label>
                <select name="duration" class="form-select" required>
                    <option value="1">1小時</option>
                    <option value="1.5">1小時30分鐘</option>
                    <option value="2" selected>2小時</option>
                    <option value="2.5">2小時30分鐘</option>
                    <option value="3">3小時</option>
                    <option value="3.5">3小時30分鐘</option>
                    <option value="4">4小時</option>
                    <option value="4.5">4小時30分鐘</option>
                    <option value="5">5小時</option>

                </select>
            </div>

            {#submit#}
            <div class="col-2">
                <label for="" class="form-label">新增時段：</label>
                <input type="submit" class="btn btn-primary" value="新增時段 Add Time">
            </div>
        </div>



        </div>
    </form>
<!-- 引入 Bootstrap JS -->
<script src="../static/js/bootstrap_js/bootstrap.min.js"></script>

  <script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
{#  <!-- Bootstrap jQuery -->#}
  <script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
{#  <!-- Slick Carousel -->#}
  <script src="{% static '/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick-animation.min.js'%}"></script>
  <!-- Color box -->
  <script src="{% static '/plugins/colorbox/jquery.colorbox.js' %}"></script>
  <!-- shuffle -->
  <script src="{% static '/plugins/shuffle/shuffle.min.js' %}" defer></script>
<script src="../static/js/bootstrap_js/bootstrap.min.js"></script>
<!-- 自定义表单验证 -->
<script>

    $(document).ready(function(){
            // 监听删除按钮的点击事件
            $('#delete_yes').click(function(){
                // 显示模态框
                $('#deleteConfirmModal').modal('show');
            });
        });

  $(document).ready(function() {
            // 当模态框中的移除按钮被点击时
            $('#deleteConfirmModal').on('show.bs.modal', function(e) {
                element = document.getElementById('delete_button');
                const tId = element.dataset.classId;

                {#var tId = $(e.relatedTarget).data('class-id'); // 获取按钮上的 data-student-id 值#}
                var deleteUrl = '{% url "delete_teacher_action" tId=0 %}'; // 0 这里只是一个占位符，实际不会用到
                deleteUrl = deleteUrl.replace('0', tId); // 替换占位符为实际的 studentId
                $('#delete_yes_link').attr('href', deleteUrl); // 设置确认删除按钮的 href 属性
            });
        });
</body>
</html>