{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href= "{%static '/css/bootstrap_css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/plugins/bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/plugins/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/css/class_list.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/class_list.js' %}"></script>

    <meta charset="UTF-8">
    <title>class List</title>
</head>

<body>
    {% include 'elements/navbar.html' %}

    <h1 id="title">課程列表{% if available %}（進行中）{% else %}（已結束）{% endif %}</h1>
        <div class="mb-3 row toolbar">
                <div id="sort" class="col-5">
        <div id="select_by_age">
            <label for="gradeFilter">篩選年級:</label>
            <select id="gradeFilter">
                <option value="all">全部</option>
                <option value="國一">國一</option>
                <option value="國二">國二</option>
                <option value="國三">國三</option>
                <option value="高一">高一</option>
                <option value="高二">高二</option>
                <option value="高三">高三</option>
                <option value="其他">其他</option>
            </select>
        </div>

        <div id="select_by_year">
            <label for="yearFilter">篩選年級:</label>
            <select id="yearFilter">
                <option value="all">全部</option>
                <option value="113">113</option>
                <option value="112">112</option>
            </select>
        </div>
    </div>

            <div id="search_bar" class="col-2">
                    <div class="">
                        <input type="text" id="searchInput" placeholder="搜索課程" class="form-control">
                    </div>
            </div>

            <div class="form-check col-3" id="available_filter">
                <div class="">
                    <input class="form-check-input" type="radio" name="redirect" id="flexRadioDefault1" value="{% url 'class_list' available=1 %}" {% if available == 1 %}checked{% endif %} onchange="redirectTo(this)">
                    <label class="form-check-label" for="flexRadioDefault1">進行中</label>
                </div>

                <div class="">
                    <input class="form-check-input payment_filter_radio" type="radio" name="redirect" id="flexRadioDefault2" value="{% url 'class_list' available=0 %}" {% if available == 0 %}checked{% endif %} onchange="redirectTo(this)">
                    <label class="form-check-label" for="flexRadioDefault2">已結束</label>
                </div>
            </div>


            <div id="add_class_div" class="col-2">
                <a id="add_class" class="btn btn-success" href="{% url 'add_class' %}">新增課程</a>
            </div>
        </div>


    <div class="class_list">
        {% for i in class_list %}
            <div class="classes">
                <p class="class_title bold">
                    <a class="class_name" href="{% url 'class_detail' cId=i.cId %}">
                        {{ i.category }}
                        {% if i.subject%}
                            - {{ i.subject }}
                        {% endif %}
                    </a>
                    {% if available %}
                    <a data-toggle="modal" data-target="#endConfirmModal" class="btn btn-warning " data-class-id="{{ i.cId }}">設為結束</a>
                    {% else %}
                    <a data-toggle="modal" data-target="#recoverConfirmModal" class="btn btn-success " data-class-id="{{ i.cId }}">恢復課程</a>
                    {% endif %}
                </p>
                <p><span class="subtitle bold">年級</span>
                    <span class="years_old">
                        {% spaceless %}
                            {% if i.years_old %}
                                {{ i.years_old }}
                            {% else %}
                                -
                            {% endif %}
                        {% endspaceless %}
                    </span>
                </p>
                <p><span class="subtitle bold">年度</span><span class="year">{{ i.year }}</span></p>
                <p><span class="subtitle bold">時間</span>星期{{ i.day }}   {{ i.time |date:"H:i"}}</p>
                <p><span class="subtitle bold">授課老師</span>{{ i.teacher_name }}</p>
                <p><span class="subtitle bold">名額</span>{{ i.quota }}</p>
                <p><span class="subtitle bold">剩餘名額</span>
                    {% if i.remain == 0 %}
                        <span class="red">額滿</span>
                    {% else %}
                        <span class="green bold">{{ i.remain }}</span>
                    {% endif %}
                </p>

                <div id="edit_delete_button">
                    <a class="btn btn-blue" href="{% url 'class_detail' cId=i.cId %}">詳情</a>
                    <a class="btn btn-blue" href="{% url 'add_enroll' cId=i.cId %}">編輯學員</a>
                    <a class="btn btn-info" href="{% url 'edit_class' cId=i.cId %}">編輯</a>
                    <a data-toggle="modal" data-target="#deleteConfirmModal" class="btn btn-danger" data-class-id="{{ i.cId }}">刪除</a>

                </div>

            </div>

        {% endfor %}
    </div>

    <!--刪除確認欄-->
    <div class="modal" id="deleteConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">確定要刪除嗎</div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="delete_no" data-dismiss="modal">保留</button>
                    <a id="delete_yes_link" href=""><button class="btn btn-danger" id="delete_yes">確認刪除</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="endConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">確定要設為結束嗎</div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="delete_no" data-dismiss="modal">保留</button>
                    <a id="end_yes_link" href=""><button class="btn btn-warning" id="delete_yes">確認結束</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="recoverConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">確定要恢復該課程嗎</div>
                <div class="modal-footer">
                    <button class="btn btn-warning" id="delete_no" data-dismiss="modal">不恢復</button>
                    <a id="recover_yes_link" href=""><button class="btn btn-success" id="delete_yes">確認恢復</button></a>
                </div>
            </div>
        </div>
    </div>

</body>


  <script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
{#  <!-- Bootstrap jQuery -->#}
  <script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
{#  <!-- Slick Carousel -->#}
  <script src="{% static '/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plugins/slick/slick-animation.min.js'%}"></script>
  <!-- Color box -->
  <script src="{% static '/plugins/colorbox/jquery.colorbox.js' %}"></script>
  <!-- shuffle -->
  <script src="{% static '/plugins/shuffle/shuffle.min.js' %}" defer></script>
    <script>
        $(document).ready(function(){
            // 监听删除按钮的点击事件
            $('#delete_yes').click(function(){
                // 显示模态框
                $('#deleteConfirmModal').modal('show');
            });
        });

        $(document).ready(function(){
            // 监听删除按钮的点击事件
            $('#delete_yes').click(function(){
                // 显示模态框
                $('#endConfirmModal').modal('show');
            });
        });

        $(document).ready(function(){
            // 监听删除按钮的点击事件
            $('#delete_yes').click(function(){
                // 显示模态框
                $('#recoverConfirmModal').modal('show');
            });
        });

        $(document).ready(function() {
            // 当模态框中的移除按钮被点击时
            $('#deleteConfirmModal').on('show.bs.modal', function(e) {
                var cId = $(e.relatedTarget).data('class-id'); // 获取按钮上的 data-student-id 值
                var deleteUrl = '{% url "delete_class_action" cId=0 %}'; // 0 这里只是一个占位符，实际不会用到
                deleteUrl = deleteUrl.replace('0', cId); // 替换占位符为实际的 studentId
                $('#delete_yes_link').attr('href', deleteUrl); // 设置确认删除按钮的 href 属性
            });
        });

        $(document).ready(function() {
            // 当模态框中的移除按钮被点击时
            $('#endConfirmModal').on('show.bs.modal', function(e) {
                var cId = $(e.relatedTarget).data('class-id'); // 获取按钮上的 data-student-id 值
                var endUrl = '{% url "end_class_action" cId=0 %}'; // 0 这里只是一个占位符，实际不会用到
                endUrl = endUrl.replace('0', cId); // 替换占位符为实际的 studentId
                $('#end_yes_link').attr('href', endUrl); // 设置确认删除按钮的 href 属性
            });
        });

        $(document).ready(function() {
            // 当模态框中的移除按钮被点击时
            $('#recoverConfirmModal').on('show.bs.modal', function(e) {
                var cId = $(e.relatedTarget).data('class-id'); // 获取按钮上的 data-student-id 值
                var recoverUrl = '{% url "recover_class_action" cId=0 %}'; // 0 这里只是一个占位符，实际不会用到
                recoverUrl = recoverUrl.replace('0', cId); // 替换占位符为实际的 studentId
                $('#recover_yes_link').attr('href', recoverUrl); // 设置确认删除按钮的 href 属性
            });
        });

        function redirectTo(radio) {
            // Check if the radio button is checked
            if (radio.checked) {
                // Redirect to the URL specified in the value attribute
                window.location.href = radio.value;
            }
        }
    </script>

</html>