{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href= "{%static '/plugins/bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/css/bootstrap_css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href= "{%static '/css/bootstrap_css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>

    <link href= "{%static '/css/student_detail.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'js/student_detail.js' %}"></script>

    <meta charset="UTF-8">
    <title>{{ student_detail.name }}</title>

</head>
<body>
    {% include 'elements/navbar.html' %}
    <h1 id="title" style="margin-top:100px;">{{ student_detail.name }}</h1>

    <div class="accordion">


        <input type="checkbox" id="info" class="accordion-input" checked/>
        <label for="info" class="accordion-buttons active fs-5"><span class="arrow">&#9660; </span>學生資訊</label>
        <div class="accordion-content" >
            <div id="student_information">
                <table>
                <tbody>
                    <tr>
                        <td class="bold">編號</td>
                        <td>{{ student_detail.sId }}</td>
                    </tr>

                    <tr>
                        <td class="bold">年級</td>
                        <td>{{ tingkat|get_item:student_detail.years_old }}</td>
                    </tr>

                    <tr>
                        <td class="bold">電話號碼</td>
                        <td>{{ student_detail.hp }}</td>
                    </tr>

                    <tr>
                        <td class="bold">家長姓名</td>
                        <td>{{ student_detail.parent_name }}</td>
                    </tr>

                    <tr>
                        <td class="bold">家長電話號碼</td>
                        <td>{{ student_detail.parent_hp }}</td>
                    </tr>

                    <tr>
                        <td class="bold">學校</td>
                        <td>{{ student_detail.school }}</td>
                    </tr>

                    <tr>
                        <td class="bold">生日日期</td>
                        <td>{{ student_detail.birthday|date:"Y年n月j日" }}</td>
                    </tr>

                    <tr>
                        <td class="bold">備注</td>
                        <td>{{ student_detail.remarks }}</td>
                    </tr>

                    <tr>
                        <td class="bold">地址</td>
                        <td>{{ student_detail.address }}</td>
                    </tr>
                </tbody>
            </table>
                <a class="btn btn-primary" id="edit_btn" href="{% url 'edit_student' sId=student_detail.sId %}">編輯資料</a>
            </div>
        </div>

        <input type="checkbox" id="courses" class="accordion-input" checked/>
        <label for="courses" class="accordion-buttons active fs-5"><span class="arrow">&#9660; </span>參與的課程</label>
        <div class="accordion-content">
            <table>
                <thead>
                    <tr>
                        <th>課名</th>
                        <th>年度</th>
                        <th>時間</th>
                        <th>學習狀況</th>
                        <th>期數</th>
                        <th>繳費</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in class_taken %}
                        <tr>
                            <td class="classname bold">
                                <a class="class_title" href="{% url 'class_detail' cId=i.cId %}">
                                    {{ i.category }}
                                    {% if i.subject%}
                                        - {{ i.subject }}
                                    {% endif %}
                                </a>
                            </td>
                            <td class="year">{{ i.year }}</td>
                            <td class="time">星期{{ i.day }}   {{ i.time }}</td>
                            <td class="remark">{{ i.remark }}</td>
                            <td class="period">{{ i.period }}</td>
                            <td class="payment">
                                {% if i.payment >= i.period %}
                                    <span style="color:Green">&#10004;</span>
                                {% else %}
                                     <a href="{% url 'upload_payment' eId=i.eId %}" style="color:Red">X</a>
                                {% endif %}
                            </td>
                        </tr>


                    {% endfor %}

                </tbody>
            </table>
        </div>
</div>
</body>
</html>